@import url('https://fonts.googleapis.com/css?family=Numans');

.containers{
background-size: cover;
background-color: rgb(164, 255, 136);
background-repeat: no-repeat;
font-family: 'Numans', sans-serif;
}

.containers{
align-content: center;
}

.card-header h3{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: rgba(44, 255, 62, 0.315);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

 .login_btn{
width: 100px;
border-radius: 20px;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}