body {
    background-color: #e9ebee;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.book-array {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem auto;
    gap: 2rem;
}